body {
  margin: 0;
  padding: 0;
  background-color: #60BF81;
}

.barra-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #238C6E;
  font-family: 'Source Code Pro', monospace;
}

.linha-li:hover {
  background-color: #2BD999;
}

.linha-li {
  float: left;
}

.linha-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 10px;
  display: flex;
  float: left;
  justify-content: center;
  background-color: #238C6E;
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

footer div {
  margin-top: 10px; 
}

footer img {
  width: 25px;
  height: auto;
  margin: 0 10px;
}
